<section id="contacts" class="contacts-form-section">
  <div class="container contacts-container">
    <h3 class="contacts-subheader">Connect</h3>
    <h2 class="contacts-header">Order your unique jewelry</h2>
    <p class="contacts-dscr">We'd love to hear more details from you!</p>
    <div class="form-and-contacts-wrapper">
      <div class="form-wrapper">
        <form class="contacts-form">
          <label class="form-label" for="name">Name*</label>
          <input
            id="name"
            class="contacts-input"
            type="text"
            name="username"
            placeholder="Tony"
            pattern="^[a-zA-Z\s.]{5,28}$"
            minlength="5"
            required
          />

          <span class="error-text">Error Text</span>

          <label class="form-label" for="phone">Phone*</label>
          <input
            id="phone"
            class="contacts-input"
            type="tel"
            name="phone-number"
            placeholder="+1 234 123 23"
            pattern="^\+[0-9\s]{12}$"
            minlength="8"
            required
          />

          <span class="error-text">Error Text</span>

          <label class="textarea-label" for="comment"
            >Describe what you want</label
          >
          <textarea
            id="comment"
            class="contacts-textarea"
            name="comment"
            placeholder="Type your message..."
            minlength="10"
            maxlength="500"
            required
          ></textarea>

          <button class="form-button" type="submit">Submit</button>
        </form>
      </div>

      <div class="contacts-wrapper">
        <ul class="contacts-list">
          <li class="contacts-item">
            <svg class="contacts-svg" width="32" height="32">
              <use href="./images/icons.svg#envelope"></use>
            </svg>
            <h4 class="contacts-headline">Email</h4>
            <a
              class="contacts-link"
              href="mailto:info@handmadejewelry.com"
              target="_blank"
              >info@handmadejewelry.com</a
            >
          </li>
          <li class="contacts-item">
            <svg class="contacts-svg" width="32" height="32">
              <use href="./images/icons.svg#phone"></use>
            </svg>
            <h4 class="contacts-headline">Phone</h4>
            <a class="contacts-link" href="tel:+15550000000" target="_blank"
              >+1 (555) 000-0000</a
            >
          </li>
          <li class="contacts-item">
            <svg class="contacts-svg" width="32" height="32">
              <use href="./images/icons.svg#map"></use>
            </svg>
            <h4 class="contacts-headline">Office</h4>
            <a
              class="contacts-link"
              href="https://maps.app.goo.gl/W6PLLmfVKMD4bSYb9"
              target="_blank"
              rel="noopener noreferrer"
              >76-8 Oakington Manor Dr, London, UK</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
