<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <div class="gallery-top">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-descr">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>

    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/gallery-1.jpg"
          alt="A close-up studio shot emphasizing the intricate details of a meticulously crafted jewelry"
          width="640"
          height="640"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/gallery-2.jpg"
          alt="A close-up studio shot of a polished sunstone pendant set in a minimalist gold-filled"
          width="640"
          height="426"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/gallery-3.jpg"
          alt="A close-up studio shot, in a bohemian style, of a multi-strand anklet"
          width="640"
          height="426"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./images/gallery-4.jpg"
          alt="A close-up studio shot, in a bohemian style, showcasing a pair of intricately designed"
          width="640"
          height="640"
        />
      </li>
    </ul>
  </div>
</section>
