<header class="header">
  <div class="container container-header">
    <a href="./index.html" class="logo">
      <svg>
        <use href="./images/icons.svg#CompanyLogo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-link">
        <li><a class="nav-link" href="#about-us">About us</a></li>
        <li><a class="nav-link" href="#benefits">Benefits</a></li>
        <li><a class="nav-link" href="#gallery">Gallery</a></li>
        <li><a class="nav-link" href="#testimonials">Testimonials</a></li>
        <li><a class="nav-link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="button">
      <a href="#contacts" class="button-ds">Order Now</a>
    </div>

    <!--модальне вікно-->

    <button class="modal-btn" type="button">
      <svg width="24" height="24">
        <use href="./images/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>

<!--мобільне меню-->
<div class="modal-overlay">
  <div class="mobile-menu">
    <div class="mobile-header">
      <a href="./index.html" class="logo">
        <svg>
          <use href="./images/icons.svg#CompanyLogo"></use>
        </svg>
      </a>
      <button type="button" class="close-btn">
        <svg width="24" height="24">
          <use href="./images/icons.svg#x1"></use>
        </svg>
      </button>
    </div>

    <nav class="modal-nav">
      <ul class="about">
        <li><a class="description" href="#about-us">About us</a></li>
        <li><a class="description" href="#benefits">Benefits</a></li>
        <li><a class="description" href="#gallery">Gallery</a></li>
        <li><a class="description" href="#testimonials">Testimonials</a></li>
        <li><a class="description" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <a href="#contacts" class="modal-exit">Order Now</a>
  </div>
</div>
