<header class="header">
    <div class="container-header">
        
    <a href="../index.html">
        <div class="logo">
        <svg width="149" height="47">
            <use href="./images/icons.svg#CompanyLogo"></use>
        </svg>
        </div>
    </a>

    <ul class="header-link">
        <li><a class="nav-link" href="#About us">About us</a></li>
        <li><a class="nav-link" href="#Benefits">Benefits</a></li>
        <li><a class="nav-link" href="#Gallery">Gallery</a></li>
        <li><a class="nav-link" href="#Testimonials">Testimonials</a></li>
        <li><a class="nav-link" href="#Contacts">Contacts</a></li> 
    </ul>
<div class="button">
    <button class="button-ds" type="button">Order Now</button>
</div>


<!--модальне вікно-->


    <button class="modal-btn" type="button">
    <svg width="24" height="24">
        <use href="./images/icons.svg#menu"></use>
    </svg>
    </button>

</div>




</header>

<!--мобільне меню-->
<div class="modal-overlay">
<div class="mobile-menu">

<ul class="mobile-header">
    <li>
        <svg width="149" height="47">
            <use href="./images/icons.svg#CompanyLogo"></use>
        </svg>
    </li>
    <li>
        <svg width="24" height="24">
            <use href="./images/icons.svg#x1"></use>
        </svg>
    </li>
</ul>

<ul class="about">
    <li class="description">About us</li>
    <li class="description">Benefits</li>
    <li class="description">Gallery</li>
    <li class="description">Testimonials</li>
    <li class="description">Contacts</li>


<button class="modal-exit" type="button">Order Now</button>
</ul>
</div>
</div>
