<section class="testimonials" id="testimonials">
  <div class="container testimonials-container">
    <div class="testimonials-heading">
      <h2 class="testimonials-title">Customer testimonials</h2>
      <p class="testimonials-description">
        Absolutely love my new earrings! They are stunning.
      </p>
    </div>

    <ul class="testimonials-list">
      <li class="testimonials-item">
        <picture class="testimonials-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/testimonial-1-desktop.webp    1x,
              ./images/testimonial-1-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/testimonial-1-tablet.webp    1x,
              ./images/testimonial-1-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/testimonial-1-mobile.webp    1x,
              ./images/testimonial-1-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="testimonials-image"
            src="./images/testimonial-1-mobile.webp"
            width="335"
            height="260"
            alt="A woman wearing a handcrafted drop earring"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="testimonials-item">
        <picture class="testimonials-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/testimonial-2-desktop.webp    1x,
              ./images/testimonial-2-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/testimonial-2-tablet.webp    1x,
              ./images/testimonial-2-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/testimonial-2-mobile.webp    1x,
              ./images/testimonial-2-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="testimonials-image"
            src="./images/testimonial-2-mobile.webp"
            width="335"
            height="260"
            alt="A man holding a handcrafted pendant"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="testimonials-item testimonials-review-card">
        <div
          class="testimonials-rating"
          role="img"
          aria-label="4 out of 5 stars"
        >
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-outline"></use>
          </svg>
        </div>
        <blockquote class="testimonials-quote">
          <p>Each piece tells a story, and I love mine!</p>
        </blockquote>
        <p class="testimonials-author">Thomas Mans</p>
      </li>

      <li class="testimonials-item testimonials-review-card">
        <div
          class="testimonials-rating"
          role="img"
          aria-label="5 out of 5 stars"
        >
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
          <svg
            class="testimonials-star"
            width="24"
            height="24"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./images/icons.svg#star-fiiled"></use>
          </svg>
        </div>
        <blockquote class="testimonials-quote">
          <p>The craftsmanship is exquisite, and I feel unique wearing it.</p>
        </blockquote>
        <p class="testimonials-author">Jane Edison</p>
      </li>

      <li class="testimonials-item">
        <picture class="testimonials-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/testimonial-3-desktop.webp    1x,
              ./images/testimonial-3-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/testimonial-3-tablet.webp    1x,
              ./images/testimonial-3-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/testimonial-3-mobile.webp    1x,
              ./images/testimonial-3-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="testimonials-image"
            src="./images/testimonial-3-mobile.webp"
            width="335"
            height="260"
            alt="Hands holding a coffee cup while wearing a handmade bracelet"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="testimonials-item">
        <picture class="testimonials-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/testimonial-4-desktop.webp    1x,
              ./images/testimonial-4-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/testimonial-4-tablet.webp    1x,
              ./images/testimonial-4-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/testimonial-4-mobile.webp    1x,
              ./images/testimonial-4-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="testimonials-image"
            src="./images/testimonial-4-mobile.webp"
            width="335"
            height="260"
            alt="A jeweler presenting a handcrafted gemstone ring"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
