.about-us {
  padding: 56px 0;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-us-picture {
  display: block;
}

.about-us-image {
  display: block;
  width: 100%;
  height: auto;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-us-title {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.about-us-description {
  font-size: 18px;
  line-height: 1.5;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-us-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.about-us-item::before {
  content: '';
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #000;
  -webkit-clip-path: var(--about-us-icon);
  clip-path: var(--about-us-icon);
}

.about-us-item-leaf {
  --about-us-icon: path(
    'M21.8798 2.15l-1.2 0.4c-2.0566 0.7146-4.2528 0.9338-6.41 0.64-2.2669-0.3518-4.5871-0.0392-6.68 0.9-1.1096 0.4725-2.0833 1.2149-2.8326 2.1598S3.5069 8.312 3.2998 9.5c-0.2108 1.1425-0.1892 2.3157 0.0633 3.4496 0.2526 1.134 0.731 2.2054 1.4067 3.1504-0.0601 0.21-0.12 0.42-0.17 0.63-0.4062 1.7271-0.6076 3.4959-0.6 5.27h1.9999c0.0939-1.4521 0.2911-2.8958 0.59-4.32 1.3874 0.7492 2.9433 1.1313 4.52 1.11 1.4704-1e-3 2.9258-0.2968 4.28-0.87 7.61-3.25 6.61-14.06 6.61-14.51zM14.6098 16.08c-2.61 1.11-5.73 0.92-7.48-0.45 0.2957-0.9889 0.7016-1.9416 1.21-2.84 0.3951-0.6466 0.8614-1.247 1.3899-1.79 0.5402-0.5488 1.1485-1.026 1.8101-1.42 1.367-0.8174 2.8832-1.3545 4.46-1.58V7c-1.8143-0.0628-3.6174 0.3074-5.26 1.08-1.6796 0.8196-3.104 2.0815-4.1201 3.65-0.3769 0.5991-0.711 1.224-1.0001 1.87-0.4635-1.1856-0.5949-2.4752-0.3801-3.73 0.1407-0.8784 0.5028-1.7066 1.0522-2.4064S7.5598 6.2154 8.3798 5.87c1.1956-0.5588 2.5002-0.8457 3.82-0.84 0.62 0 1.23 0.06 1.87 0.11 2.0043 0.2586 4.0393 0.1399 6-0.35-0.07 2.76-0.57 9.21-5.46 11.29z'
  );
}

.about-us-item-heart {
  --about-us-icon: path(
    'M4 21h9.62c0.5771 3e-4 1.1474-0.1244 1.6716-0.3656 0.5243-0.2411 0.9901-0.593 1.3654-1.0314l5.102-5.952c0.1068-0.1244 0.1814-0.2732 0.2172-0.4332 0.0358-0.1601 0.0317-0.3265-0.012-0.4845-0.0436-0.1581-0.1255-0.303-0.2384-0.422s-0.2532-0.2084-0.4088-0.2603l-1.968-0.656c-0.4756-0.1546-0.9821-0.1896-1.4745-0.1018-0.4924 0.0877-0.9555 0.2954-1.3485 0.6048l-3.185 2.547-0.617-1.235c-0.3305-0.6657-0.8409-1.2256-1.4733-1.6162C10.6184 11.2032 9.8893 10.9975 9.146 11H4c-1.103 0-2 0.897-2 2v6c0 1.103 0.897 2 2 2zM4 13h5.146c0.763 0 1.448 0.423 1.789 1.105L11.382 15H7v2h6.014c0.1539-2e-3 0.3051-0.0397 0.442-0.11l3e-3-1e-3 4e-3-2e-3h3e-3l2e-3-1e-3h4e-3l1e-3-1e-3c9e-3 3e-3 3e-3-1e-3 3e-3-1e-3 0.01 0 2e-3-1e-3 2e-3-1e-3h1e-3l2e-3-1e-3 3e-3-1e-3 4e-3-2e-3 3e-3-1e-3 2e-3-1e-3c3e-3 0 2e-3-1e-3 2e-3-1e-3l3e-3-2e-3 4e-3-2e-3 3e-3-1e-3 2e-3-1e-3h1e-3l2e-3-1e-3 3e-3-1e-3 2e-3-1e-3c9e-3-1e-3 3e-3-1e-3 3e-3-1e-3l2e-3-1e-3c0.0385-0.0232 0.0753-0.0493 0.11-0.078l4.146-3.317c0.262-0.208 0.623-0.273 0.94-0.167l0.557 0.186-4.133 4.823c-0.1901 0.2159-0.424 0.3889-0.686 0.5075-0.2621 0.1186-0.5463 0.1801-0.834 0.1805H4zM15.983 2C15.82 2.002 14.977 2.039 14 2.705c-0.951-0.648-1.774-0.7-1.968-0.704L12.002 2l-4e-3 0c-0.801 0-1.555 0.313-2.119 0.878C9.313 3.445 9 4.198 9 5s0.313 1.555 0.861 2.104l3.414 3.586c0.0939 0.0975 0.2066 0.1751 0.3312 0.228s0.2586 0.0802 0.394 0.0801 0.2694-0.0275 0.3939-0.0806c0.1246-0.0532 0.2371-0.1309 0.3309-0.2285l3.396-3.568C18.688 6.555 19 5.802 19 5s-0.313-1.555-0.878-2.121c-0.2777-0.2795-0.608-0.501-0.9719-0.6519C16.7862 2.0762 16.3959 1.999 16.002 2zM17 5c0 0.267-0.104 0.518-0.311 0.725L14 8.55 11.293 5.707C11.104 5.518 11 5.267 11 5s0.104-0.518 0.294-0.708C11.4748 4.1081 11.7211 4.0031 11.979 4c0.025 1e-3 0.502 0.032 1.067 0.485 0.081 0.065 0.163 0.139 0.247 0.222L14 5.414l0.707-0.707c0.084-0.083 0.166-0.157 0.247-0.222 0.529-0.425 0.976-0.478 1.052-0.484 0.1303 0 0.2594 0.0258 0.3797 0.0759 0.1203 0.0501 0.2295 0.1236 0.3213 0.2161C16.896 4.482 17 4.733 17 5z'
  );
}

.about-us-item-book {
  --about-us-icon: path(
    'M6 22h15v-2H6.012C5.55 19.988 5 19.805 5 19s0.55-0.988 1.012-1H21V4c0-1.103-0.897-2-2-2H6C4.794 2 3 2.799 3 5v14c0 2.201 1.794 3 3 3zM5 5c0-0.805 0.55-0.988 1-1h13v12H5zM8 6h9v2H8z'
  );
}

@media only screen and (min-width: 768px) {
  .about-us {
    padding: 112px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .about-us-container {
    flex-direction: row;
    align-items: center;
  }

  .about-us-picture,
  .about-us-content {
    width: calc((100% - 32px) / 2);
    min-width: 0;
  }

  .about-us-title {
    font-size: 48px;
  }
}
