body {
  font-family: 'Mulish', sans-serif;
  color: #2e2f42;
  line-height: 1.5;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 375px;
  padding: 0px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
