.logo {
  color: black;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 68px;
}

.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header {
  background-color: #ffffff;
}

.container-header {
  display: flex;
  padding: 0px 12px 0px 20px;
}

.modal-btn {
  margin-left: auto;
  border: none;
  background-color: #ffffff;
}
.header-link,
.button-ds {
  display: none;
}

.modal-overlay {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.mobile-menu {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding-right: 12px;
  padding-left: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 20px 24px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  text-decoration: none;
}

.description:hover,
.description:focus {
  text-decoration: underline;
}

.description:active {
  color: #8668c7;
  text-decoration: none;
}

.modal-exit {
  display: block;
  text-align: center;
  margin: 0 auto;
  background: #ccc16e;
  border: 1px solid #ccc16e;
  padding: 6px 12px;
  width: 335px;
  height: 36px;
  margin-top: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  text-decoration: none;
}
.modal-exit:hover,
.modal-exit:focus {
  background-color: #ffffff;
}
.modal-exit:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background: #ccc16e;
}

/*=======TABLET========*/
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 48.5px;
    width: 84px;
    height: 36px;
  }
  .header {
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #ffffff;
  }

  .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 6px;
  }

  .nav-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }

  .nav-link:hover,
  .nav-link:focus {
    text-decoration: underline;
  }
  .nav-link:active {
    color: #8668c7;
    text-decoration: none;
  }

  .button {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .button-ds {
    border: 1px solid #ccc16e;
    padding: 6px 12px;
    width: 119px;
    height: 36px;
    cursor: pointer;
    background: #ccc16e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000;
  }

  .button-ds:hover,
  .button-ds:focus {
    background-color: #ffffff;
    border: 1px solid #ccc16e;
  }

  .button-ds:active {
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
    background: #ccc16e;
  }

  .modal-btn {
    display: none;
  }
  a {
    text-decoration: none;
  }
}

/*=======DESCTOP========*/
@media only screen and (min-width: 1440px) {
  .logo {
    margin-right: 32px;
  }
  .header {
    background-color: #ffffff;
  }

  .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .nav-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }

  .nav-link:hover,
  .nav-link:focus {
    text-decoration: underline;
  }
  .nav-link:active {
    color: #8668c7;
    text-decoration: none;
  }

  .button {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .button-ds {
    border: 1px solid #ccc16e;
    padding: 6px 12px;
    width: 192px;
    height: 36px;
    cursor: pointer;
    background: #ccc16e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-ds:hover,
  .button-ds:focus {
    background-color: #ffffff;
    border: 1px solid #ccc16e;
  }

  .button-ds:active {
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
    background: #ccc16e;
  }
  .modal-btn {
    display: none;
  }
  a {
    text-decoration: none;
  }
}
